form {
  color: $keyColor;

  .form-control {
    border-radius: 0;
    border: 1px $keyColor solid;
    background-color: $background-color;
    color: $keyColor;
    &:focus {
      border: 1px $keyColor solid;
      color: $keyColor;
      background-color: $background-color;
    }

    .form-text {
      color: $secondaryColor;
    }
  }

  .form-check-input {
    &[type="checkbox"], &[type="radio"] {
      border-radius: 0;
      border: 1px $keyColor solid;
      color: $keyColor;
      background-color: $background-color;
      &[type="checkbox"]:checked {
        border: 1px $keyColor solid;
        color: $keyColor;
        background-color: $background-color;
      }
    }

    &[type="radio"] {
        border: 1px $keyColor solid;
        color: $keyColor;
        background-color: $background-color;
        &[type="checkbox"]:checked {
          border: 1px $keyColor solid;
          color: $keyColor;
          background-color: $background-color;
        }
      }

    background-color: $background-color;
    border: 1px $keyColor solid;
  }
}
